
    <!-- Rodapé -->
    <footer>
      <div class="container-footer">
        <div class="divFooter">
          <ol>
            <li>
              <a href="../index.ejs">Home</a>
            </li>
            <li>
              <a href="../contato.ejs">Contato</a>
            </li>
            <li>
              <a href="../quemSomos.ejs">Quem Somos</a>
            </li>
            <li>
              <a href="../privacidade.ejs">Privacidade</a>
            </li>
          </ol>
        </div>
        <p>&copy; Grupo 3 - Digital House</p>
        <div class="redes">
          <p>&nbsp;&nbsp; &nbsp; Diga um olá pra gente!</p>
          <div class="logos_footer">
            <a target="_blank" href="https://www.facebook.com/">
              <img src="/images/facebook.svg" alt="facebook" />
            </a>
            <a target="_blank" href="https://www.instagram.com/">
              <img src="/images/instagram.svg" alt="instagram" />
            </a>
            <a target="_blank" href="https://www.linkedin.com/">
              <img src="/images/linkedin.svg" alt="linkedin" />
            </a>
            <a target="_blank" href="https://www.youtube.com/">
              <img src="/images/youtube.svg" alt="youtube" />
            </a>
          </div>
        </div>

      </div>
    </footer>
  </body>

</html>