<%- include('./partials/header') %>
  <main>
    <div class="header">
      <div class="logo">
        <img src="images/top_vegan_logo.png"  />
      </div><!--center-->
    </div><!--header-->
  
    <div class="container-banner">
      <div class="center">
        <div class="form">
          <h2>Preencha o formulário para finalizar seu cadastro!</h2>
          <form>
            <div class="input-container">
              <span>Nome*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <div class="input-container">
              <span>E-mail*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <div class="input-container">
              <span>Telefone*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <div class="input-container">
              <span>CPF*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
          </form>
  
          <form>
            <p class="form2">>
  
            <div class="input-container">
              <span>Endereço*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <div class="input-container">
              <span>Complemento</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <div class="input-container">
              <span>CEP/Código Postal*</span>
              <input type="text" name="nome" required />
            </div><!--input-container-->
  
            <p class="warning">*Campos obrigatórios</p>
  
            <div class="input-submit-container">
              <input type="submit" name="acao" value="Enviar">
            </div><!--input-submit-container-->
  
          </p>
          </form>
        </div><!--form-->
      </div><!--center-->
    </div><!--container-banner-->
  </main>
<%- include('./partials/footer') %>
