<%- include('./partials/header') %>
<%- include('./partials/menu') %>
  <main>
    <div class="container-central">
      <div class="stock-card">Produto...
      </div>

    </div>
  </main>
<%- include('./partials/footer') %>
