<%- include('./partials/header') %>
  <main>
    <h1><%= title %></h1>
    
    <section class="container-qsomos">
    <div class="qsomos-card"> 
      <img class="qsomosimg" src="images/quemsomos/alexandre.jpg" alt="alexandre">
      <i class="fi-rr-arrow-small-right">Alexandre Prado</i>
      <div class="qsomosicons">
        <div class="qsemail">
          <a href="mailto:pradoromeu@hotmail.com"><img class="qsomosicons" src="images/quemsomos/marketing-de-email.png" alt=""></a>
          <a href="mailto:pradoromeu@hotmail.com">pradoromeu@hotmail.com</a>
        </div>
        <div class="qsgit">
          <a href="https://github.com/prado"><img class="qsomosicons" src="images/quemsomos/github.png" alt=""></a>
          <a href="https://github.com/prado">https://github.com/prado</a>
        </div>
        <div class="qslocal">
          <img class="qsomosicons" src="images/quemsomos/placeholder.png" alt="">
          São Paulo/SP
        </div>
      </div>
    </div>
    <div class="qsomos-card"> 
      <img class="qsomosimg" src="images/quemsomos/ana vasconcellos.png" alt="ana">
      <i class="fi-rr-arrow-small-right">Ana Vasconcellos</i>
      <div class="qsomosicons">
        <div class="qsemail">
          <a href="mailto:avasconcellospereira@hotmail.com">
          <img class="qsomosicons" src="images/quemsomos/marketing-de-email.png" alt=""></a>
          <a href="mailto:avasconcellospereira@hotmail.com">avasconcellospereira@hotmail.com</a>
        </div>
        <div class="qsgit">
          <a href="https://github.com/apvasconcellos"><img class="qsomosicons" src="images/quemsomos/github.png" alt=""></a>
          <a href="https://github.com/apvasconcellos">https://github.com/apvasconcellos</a>
        </div>
        <div class="qslocal">
          <img class="qsomosicons" src="images/quemsomos/placeholder.png" alt="">
          Santo André/SP
        </div>
      </div>
    </div>
    <div class="qsomos-card"> 
      <img class="qsomosimg" src="images/quemsomos/caio.jpg" alt="caio">
      <i class="fi-rr-arrow-small-right">Caio Cezar</i>
      <div class="qsomosicons">
        <div class="qsemail">
          <a href="mailto:caiocezar@hotmail.com"><img class="qsomosicons" src="images/quemsomos/marketing-de-email.png" alt=""></a>
          <a href="mailto:caiocezar@hotmail.com">caiocezar@hotmail.com</a>
        </div>
        <div class="qsgit">
          <a href="https://github.com/caio"><img class="qsomosicons" src="images/quemsomos/github.png" alt=""></a>
          <a href="https://github.com/caio">https://github.com/caio</a>
        </div>
        <div class="qslocal">
          <img class="qsomosicons" src="images/quemsomos/placeholder.png" alt="">
          São Paulo/SP
        </div>
      </div>
    </div>
    <div class="qsomos-card"> 
      <img class="qsomosimg" src="images/quemsomos/giovanna.jpg" alt="giovanna">
      <i class="fi-rr-arrow-small-right">Giovanna Rocha</i>
      <div class="qsomosicons">
        <div class="qsemail">
          <a href="mailto:giovanna@hotmail.com"><img class="qsomosicons" src="images/quemsomos/marketing-de-email.png" alt=""></a>
          <a href="mailto:giovanna@hotmail.com">giovanna@hotmail.com</a>
        </div>
        <div class="qsgit">
          <a href="https://github.com/giovanna"><img class="qsomosicons" src="images/quemsomos/github.png" alt=""></a>
          <a href="https://github.com/giovanna">https://github.com/giovanna</a>
        </div>
        <div class="qslocal">
          <img class="qsomosicons" src="images/quemsomos/placeholder.png" alt="">
          São Paulo/SP
        </div>
      </div>
    </div>
    
  </section>
  </main>
<%- include('./partials/footer') %>
